/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/dashboard/components/header/styles.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_headerContainer__Y4dl6 {
  height: 5rem;
}

.styles_headerContent__fonco {
  max-height: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.styles_headerContent__fonco nav {
  display: flex;
  align-items: center;
  gap: 14px;
}
.styles_headerContent__fonco nav a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.8s;
}
.styles_headerContent__fonco nav a:hover {
  color: var(--red-900);
}
.styles_headerContent__fonco nav button {
  border: 0;
  background: transparent;
  margin-left: 16px;
  transition: transform 0.5s;
}
.styles_headerContent__fonco nav button:hover {
  transform: scale(1.2);
}
