/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_containerCenter__zsRKL {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-700);
}

.page_login__YmZVk {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 600px;
}
.page_login__YmZVk h1 {
  color: var(--white);
}
.page_login__YmZVk form {
  color: var(--white);
  padding-bottom: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
}
.page_login__YmZVk form button {
  height: 40px;
  font-size: 16px;
  background-color: var(--red-900);
  border: 0;
  border-radius: 8px;
  color: var(--white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.page_login__YmZVk form button:hover {
  transform: scale(1.05);
}

.page_input__ogsrx {
  border-radius: 8px;
  border: 1px solid var(--gray-100);
  padding: 16px;
  background-color: var(--dark-900);
  color: var(--white);
  transition: all 0.5s;
}

.page_input__ogsrx:hover {
  transform: scale(0.9);
}

.page_text__HsUaO {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 620px) {
  .page_login__YmZVk {
    width: 90%;
  }
}
